* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* outline: 1px solid greenyellow; */
}
*:focus{
    outline: unset;
}
:root {
    --main-color: #EA4492;
    --light-main-color: #ff92d7;
    --accent-color: #004E9A;
    --light-accent-color: #428cd4;
    --background-color: #080808;
    --bg-color: #041B2D;
    --white-color: #fff;
    --font-color: #f1f1f1;
    --light-font-color: grey;
    --shadow-color: rgb(43, 43, 43);
}

a {
    color: unset;
    text-decoration: unset;
}

.center,
.bi,
i
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.root{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}
/* ************************************************* 
styling the navbar

****************************************************/
.nav-bar{
    grid-column: 1 / span 2;
    background-color: var(--bg-color);
    padding: 10px 20px;
    flex-wrap: wrap;
}
.logo{
    color: var(--font-color);
    text-transform: capitalize;
}
.nav-search{
    width: 100%;
    max-width: 400px;
    position: relative;
    padding: 10px 0px;
}
.nav-search>.nav-search-input{
    width: calc(100% - 30px);
    height: 30px;
    border: none;
    padding: 5px 10px;
}
.nav-search>.search-btn{
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: var(--font-color);
    background-color: var(--accent-color);
    border: none;
}
.nav-search>.search-btn:hover{
    cursor: pointer;
    background-color: var(--light-accent-color);
}
.nav-search>.nav-search-result{
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: var(--white-color);
}
.nav-search>.nav-search-result>.search-result-list{
    width: 100%;
}
.nav-search>.nav-search-result>.search-result-list>.result-item{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px 0px;
    color: var(--background-color);
}
.nav-search>.nav-search-result>.search-result-list>.result-item:hover{
    background-color: var(--font-color);
}
.nav-search>.nav-search-result>.search-result-list>.result-item>.result-img{
    width: 70px;
    height: 50px;
    grid-row: 1 /span 2;
}
.nav-search>.nav-search-result>.search-result-list>.result-item>.result-name{
    grid-column: 2 /span 2;
}
.nav-search>.nav-search-result>.search-result-list>.result-item>.result-rating{
    color: #c9ab05;
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto 1fr;
}
.nav-search>.nav-search-result>.search-result-list>.result-item>.result-rating>span,
.nav-search>.nav-search-result>.search-result-list>.result-item>.result-metacritic
{
    color: var(--background-color);
    font-style: normal;
}
.nav-search>.nav-search-result>.search-result-list>.result-item>.result-metacritic::before{
    content: attr(metacritic);
    border: 1px solid var(--accent-color);
    padding: 3px;
    margin-right: 5px;
    border-radius: 3px;
}
/* ************************************************* 
styling the sidebar

****************************************************/
/* ************************************************* 
styling the content

****************************************************/
.content{
    overflow: auto;
}
.content::-webkit-scrollbar{
    display: none;
}