.card {
    flex-direction: column;
    width: 300px;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 12px 2px var(--shadow-color);
    position: relative;
}
.card>.card-data{
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    color: var(--font-color);
    row-gap: 10px;
}
.card>.card-img {
    width: 100%;
    height: 200px;
}
.card>.card-data>.card-name {
    text-transform: capitalize;
}
.card>.card-data>.games-count{
    text-transform: capitalize;
}

.card>.card-data>.see-games{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: var(--font-color);
    background-image: linear-gradient(45deg,var(--main-color),var(--accent-color));
}